math {
  color: rgb(158, 0, 0);
  font-weight: bold;
  font-size: larger;
}

#c {
    position: absolute;
    left: 60px ;
    top: 140px;
}

#b {
      position: absolute;
    left: 170px ;
    top: 140px;
}

#a {
      position: absolute;
    left: 90px ;
    top: 280px;
}