
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
}
img {
    width: 10%;
}

header {
    padding : 10px;
    display: grid;
    min-height: 150px;
    background-color: lightgray;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 10px ;
    padding: 10px 50px;
}
.hParent{
    display: grid;
    grid-template-columns: 1fr 2fr;

}
.links {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-self: center;
}
.Featured {
    display: grid;
    place-content: center;
    background-color: gray;
}



.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.dots span {
    width: 10px;
    height: 10px;
    background-color: #a9a9a9;
    border-radius: 50%;
}

.main {
    padding: 30px ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(120px,auto);
    gap: 10px;
}

.box  , #Twitter {
    display: grid;
    place-content: center;
    background-color: lightgray;
}

#Twitter{
    grid-column: 1/-1;
}

footer {
    min-height: 50px;
    display: grid ;
    background-color: lightgray;
    grid-template-columns: 3fr  1fr  ;
    padding : 0px 10px ;
}
footer .links {
    gap: 15px;
}

.copyright{
     display: grid;
    place-content: center;
}



@media (max-width:600px) {

  header,
  .hParent,
  .links,
  .main,
  footer {
      grid-template-columns: 1fr;
  }

  #Twitter{
      grid-column: auto;   
  }

}


